@model MGAuthentication.Data.ViewModels.Auth.PasswordResetVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Password Reset";
}

<div class="container">
    <div class="col-md-12">
        <form class="col-md-6" asp-action="PasswordReset" asp-controller="Auth" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="UserId">User Id</label>
                <select class="form-control" asp-for="UserId" asp-items="ViewBag.Users">
                    <option value="">Please Select One</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="NewPassword">New Password</label>
                <input class="form-control" asp-for="NewPassword" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input type="submit" class="btn btn-outline-danger" value="Reset" />
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <a class="btn btn-outline-success" asp-action="AdminPanel" asp-controller="Home">Back to Admin Panel</a>
    </div>
</div>