@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 my-3">
        <h4>Roles</h4>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered col-md-4">
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Name</th>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-outline-success" asp-action="AdminPanel" asp-controller="Home">Back to Admin Panel</a>
    </div>
</div>