@{
    ViewData["Title"] = "Edit Current Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>変更しました</h1>
        </div>
    </div>
    <div><a asp-action="Index" asp-controller="Location" class="btn btn-outline-info">戻る</a></div>
</div>