<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content-body">
        <h1>Welcome to Moritake App</h1>
        <div class="content">
          Please click login to continue
        </div>
        <div class="content-button">
          <a (click)="login()" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Login
          </a>

          <!-- <a href="https://www.youtube.com" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Doko App
          </a> -->
          <!-- <a [routerLink]="'/user/registration'" class="btn btn-primary btn-md"
            ><span class="glyphicon glyphicon-home"></span> Registration
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
